@page "/"

<PageTitle>The Protocols</PageTitle>

<header>
    <!-- For navation (start, pause, stop, progress) -->
</header>

<nav>
    <!-- Left navbar for stats -->
</nav>

<main>
    <!-- Preview -->
</main>

<footer>
    <!-- coś tam bar -->
</footer>
