@page "/"
@using System
@using Protocols.Classes
@{
    System.Diagnostics.Debug.WriteLine("pre instantiation");
    Simulation sim = new();
}

<PageTitle>The Protocols</PageTitle>

<header class="controls">
    <button>START</button>
    <button>PAUSE</button>
    <button>STOP</button>
    <button>SKIP</button>
    <span id="progressvalue">12%</span>
    <progress value="12" max="100" />
</header>

<section class="mid">
    <nav class="nav">
        <table class="list">
            <tr>
                <!-- First test station -->
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
            </tr>
            <!--@foreach()
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }-->
        </table>
        
        <section class="stats">
            <!-- stats for whole program -->
            <div class="one">
                <label>coś tam</label>
                <input type="text" value="coś tam" disabled />
            </div>
            <div class="two">
                <label>coś tam</label>
                <input type="text" value="coś tam" disabled />
            </div>
            <div class="three">
                <label>coś tam</label>
                <input type="text" value="coś tam" disabled />
            </div>
            <div class="four">
                <label>coś tam</label>
                <input type="text" value="coś tam" disabled />
            </div>
            <div class="five">
                <label>coś tam</label>
                <input type="text" value="coś tam" disabled />
            </div>
        </section>
    </nav>

    <main class="view">
        canvas
        <canvas id="canvas"></canvas>
    </main>
</section>


<footer class="progress">
    Progress
    <!-- Stats progress for each stations
    @foreach()
    {
        <div>
            <progress value="0" max="100"/>
            <p>label</p>
        </div>
    }-->
</footer>
